:host {
  display: block;
}

.dg-group-header {
  display: flex;
  background-color: var(--dg-cell-bg);
  border-bottom: var(--dg-border-width) solid var(--dg-border-color);
  z-index: 80;

  .dg-row-indentation {
    border: none !important;
  }

  &-title {
    display: flex;
    gap: 0.5rem;
    border: none !important;
    position: sticky;
    left: var(--dg-indentation-width);
    user-select: none;
  }

  &-rows-count {
    display: block;
    padding: 0.125rem 0.4rem;
    background-color: var(--dg-row-count-bg);
    border-radius: 0.65rem;
    color: #fff;
  }

  &.sticky {
    position: sticky;
    top: calc(var(--dg-cell-height) + var(--dg-border-width));
  }
}
