<div
  class="dg-row-group"
  role="rowgroup">
  <div
    class="dg-group-header"
    [class.sticky]="sticky"
    role="row">
    <div
      class="dg-row-indentation dg-cell"
      [class.expanded]="groupData.expanded"
      role="cell"
      (click)="toggleRow()">
      <fa-icon [icon]="faAngleRight"></fa-icon>
    </div>

    <div
      class="dg-group-header-title dg-cell"
      role="cell">
      <fa-icon [icon]="faLayerGroup"></fa-icon>
      <span>
        <b>{{ groupData.groupedBy }}:</b>
      </span>
      <span>{{ groupTitle }}</span>
      <span class="dg-group-header-rows-count">{{ groupData.items.length }}</span>
    </div>
  </div>

  <ng-container *ngIf="groupData.expanded">
    <app-data-grid-row
      *ngFor="let data of groupData.items"
      [rowData]="data"
      [rowActions]="rowActions"
      [columns]="columns"></app-data-grid-row>
  </ng-container>
</div>
