<mat-form-field
  class="dg-group-by-select"
  appearance="outline"
  subscriptSizing="dynamic">
  <mat-label>Group By:</mat-label>
  <mat-select
    [value]="groupBy"
    (selectionChange)="groupDataBy($event)">
    <mat-option
      *ngFor="let groupOption of groupOptions"
      [value]="groupOption">
      {{ groupOption.title }}
    </mat-option>
  </mat-select>
  <button
    *ngIf="groupBy"
    mat-icon-button
    matSuffix
    (click)="clearGroupBy($event)">
    <fa-icon [icon]="faXMark"></fa-icon>
  </button>
</mat-form-field>

<div class="dg-sort-list">
  <ng-container *ngIf="sortBy && sortBy.length">
    <div
      *ngFor="let sortCol of sortBy; let i = index"
      class="dg-sort-item"
      (click)="toggleSortingDirection(sortCol)">
      <span>{{ sortCol.title }}</span>

      <div class="dg-sort-indicator">
        <fa-icon [icon]="sortCol.sortOrder === 'DESC' ? faArrowDown : faArrowUp"></fa-icon>
      </div>

      <div
        class="dg-sort-remove"
        (click)="removeSorting(i, sortCol)">
        <fa-icon [icon]="faXMark"></fa-icon>
      </div>
    </div>

    <div
      *ngIf="sortBy && sortBy.length"
      class="dg-sort-remove"
      matTooltip="Clear all"
      matTooltipPosition="right"
      (click)="clearSorting()">
      <fa-icon
        [icon]="faXMark"
        size="lg"></fa-icon>
    </div>
  </ng-container>

  <span
    *ngIf="!sortBy || !sortBy.length"
    class="dg-sort-list-no-sort">
    Click on sortable column header below to add sorting
  </span>
</div>
