<div
  class="dg-row"
  role="row">
  <div
    class="dg-row-indentation"
    [class.dg-row-actions.hoverable]="rowActions && rowActions.length"
    role="cell">
    <app-data-grid-row-action
      *ngFor="let rowAction of rowActions"
      [action]="rowAction"
      [rowData]="rowData"></app-data-grid-row-action>
  </div>

  <div class="dg-display-container">
    <div
      *ngFor="let column of columns"
      class="dg-cell no-border"
      [style.width.px]="column.width"
      [matTooltip]="column.tooltip ? column.tooltip : column.tooltipFn ? column.tooltipFn(rowData) : null"
      role="cell">
      {{ column.prefix }}{{ rowData[column.displayField || column.field] }}{{ column.suffix }}
    </div>
  </div>
</div>
